<footer class="usa-footer usa-footer--big">
    <div class="grid-container margin-top-2 margin-bottom-2">
        {% if page.title == "Home" %}
        <div class="border-top-1px border-base-light margin-bottom-2"></div>
        {% endif %}
        <div class="grid-row flex-align-start flex-justify">
            <a class="usa-button usa-button--outline border-0" id="toTopBtn" title="Go to top" href="">Return to top</a>
        </div>
    </div>

    <div class="footer-section-bottom bg-base-lighter">
        <div class="grid-container">
            <div class="grid-row padding-3">
                <div class="tablet:grid-col">
                    <h4>Accessibility</h4>
                </div>
                <div class="tablet:grid-col">
                    <h4>FOIA</h4>
                </div>
                <div class="tablet:grid-col">
                    <h4>Privacy Statement</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="usa-footer__primary-section">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <nav class="usa-footer__nav " aria-label="Footer navigation">

                    <div class=" mobile-lg:grid-col-12">
                        <section class=" usa-footer__primary-content usa-footer__primary-content--collapsible">
                            <h4 class="usa-footer__primary-link">Related Federal Websites</h4>
                            <ul class="usa-list usa-list--unstyled footerLinksFourColumns">
                                <li class="cdo_custom_footer_links">
                                    <a href="https://apps.bea.gov/fesac/" title="Federal Economic Statistics Advisory Committee">Federal Economic Statistics Advisory Committee</a>
                                </li>
                                <li class="cdo_custom_footer_links">
                                    <a href="https://www.census.gov/about/adrm/fsrdc.html" title=">Federal Statistical Research Data Centers">Federal Statistical Research Data Centers</a>
                                </li>
                                <li class="cdo_custom_footer_links">
                                    <a href="https://beta.nsf.gov/funding/opportunities/methodology-measurement-statistics-mms" title="National Science Foundation's Methodology, Measurement, and Statistics">National Science Foundation's Methodology, Measurement, and Statistics</a>
                                </li>
                                <li class="cdo_custom_footer_links">
                                    <a href="https://www.whitehouse.gov/omb/information-regulatory-affairs/statistical-programs-standards/" title="Office of Management and Budget's Statistical Programs and Standards">Office of Management and Budget's Statistical Programs and Standards</a>
                                </li>
                                <li class="cdo_custom_footer_links">
                                    <a href="https://ncses.nsf.gov/about/standard-application-process" title="Standard Application Process Program Management Office">Standard Application Process Program Management Office</a>
                                </li>
                            </ul>
                        </section>

                        <section class=" usa-footer__primary-content usa-footer__primary-content--collapsible">
                            <h4 class="usa-footer__primary-link">Related Councils</h4>
                            <ul class="usa-list usa-list--unstyled footerLinksFourColumns">
                                <li class="cdo_custom_footer_links">
                                    <a href="https://www.cdo.gov/" title="Chief Data Officers Council">Chief Data Officers Council</a>
                                </li>
                                <li class="cdo_custom_footer_links">
                                    <a href="https://www.cio.gov/" title="Chief Information Officers Council">Chief Information Officers Council</a>
                                </li>
                                <li class="cdo_custom_footer_links">
                                    <a href="https://www.evaluation.gov/" title="Evaluation.gov">Evaluation.gov</a>
                                </li>
                                <li class="cdo_custom_footer_links">
                                    <a href="https://www.fcsm.gov/" title="Federal Committee on Statistical Methodology">Federal Committee on Statistical Methodology</a>
                                </li>
                                <li class="cdo_custom_footer_links">
                                    <a href="https://www.fpc.gov/" title="Federal Privacy Council">Federal Privacy Council</a>
                                </li>
                                <li class="cdo_custom_footer_links">
                                    <a href="https://www.pic.gov/" title="Performance Improvement Council">Performance Improvement Council</a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</footer>