<footer class="usa-footer site-footer" role="contentinfo">

    <div class="footer-section-bottom margin-top-2  margin-bottom-2">
        <div class="grid-container">
            <div class="grid-row">
                <div class="tablet:grid-col">
                    <a title="Go to top" href="" id="toTopBtn">Return to top</a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-section-bottom bg-base-lighter">
        <div class="grid-container">
            <div class="grid-row">
                <div class="tablet:grid-col">
                    <h4>Related Federal Websites</h4>
                    <ul class="add-list-reset margin-right-5">
                        <li class="custom-link-li"><a href="https://www.census.gov/about/adrm/fsrdc.html" title=">Federal Statistical Research Data Centers" target="_blank" rel="noopener"  class="usa-link--external">Federal Statistical Research Data Centers</a></li>
                        <li class="custom-link-li"><a href="https://new.nsf.gov/funding/opportunities/methodology-measurement-statistics-mms" title="National Science Foundation's Methodology, Measurement, and Statistics" target="_blank" rel="noopener"  class="usa-link--external">National Science Foundation's Methodology, Measurement, and Statistics</a></li>
                        <!-- <li class="custom-link-li"><a href="https://www.whitehouse.gov/omb/information-regulatory-affairs/statistical-programs-standards/" title="Office of Management and Budget's Statistical Programs and Standards" target="_blank" rel="noopener"  class="usa-link--external">Office of Management and Budget's Statistical Programs and Standards</a></li> -->
                        <li class="custom-link-li"><a href="https://ncses.nsf.gov/about/standard-application-process" title="Standard Application Process Program Management Office" target="_blank" rel="noopener"  class="usa-link--external">Standard Application Process</a></li>
                    </ul>
                </div>
                <div class="tablet:grid-col">
                    <h4>Other Executive Councils</h4>
                    <ul class="add-list-reset">
                        <li class="custom-link-li"><a href="https://www.cdo.gov/" title="Chief Data Officers Council" target="_blank" rel="noopener"  class="usa-link--external">Chief Data Officers Council</a></li>
                        <li class="custom-link-li"><a href="https://www.cio.gov/" title="Chief Information Officers Council" target="_blank" rel="noopener"  class="usa-link--external">Chief Information Officers Council</a></li>
                        <li class="custom-link-li"><a href="https://www.evaluation.gov/" title="Evaluation.gov" target="_blank" rel="noopener"  class="usa-link--external">Evaluation.gov</a></li>
                        <li class="custom-link-li"><a href="https://www.fpc.gov/" title="Federal Privacy Council" target="_blank" rel="noopener"  class="usa-link--external">Federal Privacy Council</a></li>
                        <li class="custom-link-li"><a href="https://www.performance.gov/pic/" title="Performance Improvement Council" target="_blank" rel="noopener"  class="usa-link--external">Performance Improvement Council</a></li>
                    </ul>
                </div>
                <div class="tablet:grid-col">
                    <div class="grid-row margin-top-4">
                        <div class="grid-col-auto">
                            {%- assign exec="/assets/img/exec-office-logo.png"-%}
                            <img class="usa-footer__logo-img" alt="Office of Management and Budget Logo" src="{{site.baseurl}}{{-exec-}}">
                        </div>
                        <div class="grid-col-fill txt-align-footer  margin-top-4 margin-left-2">
                            <a href="https://www.whitehouse.gov/omb/" target="_blank" rel="noopener"  class="usa-link--external"><span>Office of Management and Budget</span></a>
                        </div>
                    </div>
                    <br />
                    <div class="grid-row">
                        <div class="grid-col-fill txt-align-footer font-sans-lg margin-top-4"><b>Contact Us:</b></div>
                    </div>

                    <div class="grid-row">
                        <div class="grid-col-fill txt-align-footer">
                            <a class="custom-link-color" href="mailto:StatsPolicyGov@omb.eop.gov">StatsPolicyGov@omb.eop.gov</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="usa-identifier">
        <section class="usa-identifier__section usa-identifier__section--masthead"
                 aria-label="General Services Administration">
            <div class="usa-identifier__container">
                <div class="usa-identifier__identity" aria-label="Agency">
                    <p class="usa-identifier__identity-domain">StatsPolicy.gov</p>
                    <p class="usa-identifier__identity-disclaimer">
                        An official website of the Federal Government
                    </p>
                </div>
            </div>
        </section>
        <nav class="usa-identifier__section usa-identifier__section--required-links"
             aria-label="Important links,">
            <div class="usa-identifier__container">
                <ul class="usa-identifier__required-links-list">
                    <li class="usa-identifier__required-links-item">
                        <a href="https://www.whitehouse.gov/omb/"
                           class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >About OMB</a>
                    </li>
                    <li class="usa-identifier__required-links-item">
                        <a href="https://www.gsa.gov/website-information/accessibility-aids/" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >Accessibility support</a>
                    </li>
                    <li class="usa-identifier__required-links-item">
                        <a href="https://www.gsa.gov/reference/freedom-of-information-act-foia" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >FOIA requests</a>
                    </li>
                    <li class="usa-identifier__required-links-item">
                        <a href="https://www.gsa.gov/reference/civil-rights-programs/notification-and-federal-employee-antidiscrimination-and-retaliation-act-of-2002" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >No FEAR Act data</a>
                    </li>
                    <li class="usa-identifier__required-links-item">
                        <a href="https://www.gsaig.gov/" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >Office of the Inspector General</a>
                    </li>
                    <li class="usa-identifier__required-links-item">
                        <a href="https://www.gsa.gov/reference/reports/budget-performance/" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >Performance reports</a>
                    </li>
                    <li class="usa-identifier__required-links-item">
                        <a href="https://www.gsa.gov/website-information/website-policies/" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >Privacy policy</a>
                    </li>
                </ul>
            </div>
        </nav>
        <section class="usa-identifier__section usa-identifier__section--usagov"
                 aria-label="U.S. government information and services,">
            <div class="usa-identifier__container">
                <div class="usa-identifier__usagov-description">
                    Looking for U.S. government information and services?
                </div>
                <a href="https://www.usa.gov/" class="usa-identifier__required-link usa-link usa-link--external" target="_blank" rel="noopener" >Visit USA.gov</a>
            </div>
        </section>
    </div>
</footer>