{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h1 class="usa-hero__heading"><span class="usa-hero__heading--alt">Welcome to StatsPolicy.gov,</span></h1>
      <p>the home of the U.S.Federal statistical system. StatsPolicy.gov bringstogether important information about ourdecentralized, yet increasingly interwoven system,including about its leadership, priorities, andactivities across the Federal Government.Keygoverning laws and policies, community news andevents, and other resources are also provided.</p>
    </div>
  </div>
</section>
