{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}
<h1 class="usa-sr-only">Operating seamlessly, safely stewarding sensitive data resources</h1>
<section class="home-page-backgrund">
    <div class="grid-container">
        <div class="grid-gap-banner">
            <div class="carousel-item__content padding-y-6 tablet:margin-top-4 tablet:margin-x-0 margin-x-2">
                <div class="text-white-70 font-sans-md tablet:font-sans-lg margin-top-0">
                    <div class="font-serif-lg margin-top-5 hero-p1-font">Operating seamlessly, safely stewarding sensitive data resources</div>
                    <div class="margin-top-3 font-serif-lg hero-p2-font">Fueling evidence building, civic engagement, and public and private sector decision-making</div>
                    <a class="no-decoration" href="{{site.baseurl}}about/#fss">
                        <p class="margin-top-2 hero-p3-font"> Your Federal Statistical System at work <span class="usa-sr-only">Click to navigate to the The Federal Statistical System Section</span></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>