{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="home-page-backgrund">
    <div class="grid-container">
        <div class="home-page-container bg-base-lightest">
            <h1 class="font-serif-sm line-height-serif-5 text-normal padding-2"><b>Welcome to StatsPolicy.gov</b>, the home of the U.S.Federal statistical system. StatsPolicy.gov brings together important information about our decentralized, yet increasingly interwoven system, including about its leadership, priorities, and activities across the Federal Government. Key governing laws and policies, community news and events, and other resources are also provided.</h1>
        </div>
    </div>
</section>
