<div class="usa-logo grid-row flex-align-center" id="extended-logo">
  <em class="usa-logo__text grid-col-auto">
    <a href="{{site.baseurl}}/" class="grid-row" aria-label="StatsPolicy|gov logo">
      <div class="grid-col-5 tablet:grid-col-5">  
        <img src="{{ '/assets/img/statspolicy.png | relative_url }}" alt="StatsPolicy|gov" class="height-15 maxw-15">
      </div>
      <span class="font-sans-md tablet:font-sans-lg grid-col-7 tablet:grid-col-7 padding-left-1 margin-top-4 text-normal">StatsPolicy|gov</span> 
    </a>
  </em>
</div>