{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="margin-top-4">
    <div class="grid-container">
        <div class="grid-row bg-base-lighter display-block padding-1">
            <h2 class="font-serif-lg">Our Vision</h2>
            <h2 class="font-serif-lg">Operating seamlessly, safely stewarding sensitive data resources</h2>
            <h2 class="font-serif-lg text-italic">Fueling evidence building, civic engagement, and public and private sector decision-making</h2>
            <p class="font-serif-sm text-italic">Your Federal Statistical System at work</p>
        </div>
    </div>
</section>