{% comment %}
This tagline will appear in your homepage
{% endcomment %}

<section class="bg-base-lightest padding-y-5">
    <div class="grid-container">
        <div class="shadow-5 radius-lg bg-white">
            <div class="grid-row display-block padding-2">
                <h2 class="font-serif-lg">Our Vision</h2>
                <h2 class="font-serif-lg margin-top-5">Operating seamlessly, safely stewarding sensitive data resources</h2>
                <h2 class="font-serif-lg text-italic margin-top-5">Fueling evidence building, civic engagement, and public and private sector decision-making</h2>
                <p class="font-serif-lg margin-top-5"> - Your Federal Statistical System at work</p>
            </div>
        </div>
    </div>
</section>