{% comment %}
To modify the menu system, you are welcome to edit this HTML
directly or you can look inside _config.yml where we provide an easy way to
manage your navigation system
{% endcomment %}

<header class="usa-header usa-header--extended" role="banner">
  <div class="usa-navbar height-15">
    {% include fcsm/logo.html %}
    <button
      class="usa-menu-btn bg-white border-1px border-base-lightest text-black display-flex flex-row flex-align-center desktop:display-none"><!--<img class="width-4 padding-right-1" src="{{ '/assets/fcsm/img/menu-icon.png' | relative_url }}" alt="">-->Menu</button>
  </div>
  <nav id="menu-navigation" aria-label="Menu navigation" role="navigation" class="usa-nav">
    <div class="usa-nav__inner">
      <button class="usa-nav__close">
        <img src="{{site.baseurl}}/assets/fcsm/img/close.svg" alt="close" />
      </button>
      {%- comment -%}
      Find the nav item whose URL is the longest prefix matching the current page URL
      {%- endcomment -%}
      {% assign best_match = "" %}
      {% assign best_length = 0 %}

      {% for nav_item in include.primary_navigation %}
      {% assign nav_url = nav_item.url %}
      {% assign nav_length = nav_url | size %}
      {% assign page_start = page.url | slice: 0, nav_length %}

      {% if page_start == nav_url and nav_length > best_length %}
      {% assign best_match = nav_url %}
      {% assign best_length = nav_length %}
      {% endif %}
      {% endfor %}

      {%- comment -%}
      Render the navigation, adding 'usa-current' only to the best matching item
      {%- endcomment -%}
      <ul class="usa-nav__primary usa-accordion">
        {% for nav_item in include.primary_navigation %}
        {% assign is_current = false %}
        {% if nav_item.url == best_match and nav_item.name != "Back to StatsPolicy.Gov Home" %}
        {% assign is_current = true %}
        {% endif %}
        <li class="usa-nav__primary-item">
          <a class="usa-nav__link font-sans-sm{% if is_current %} usa-current{% endif %}"
            href="{{ nav_item.url | prepend: site.baseurl }}">
            <span>{{ nav_item.name | escape }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>



      <div class="usa-nav__secondary margin-bottom-3">
        <ul class="usa-nav__secondary-links">
          {% for nav_item in include.secondary_navigation %}
          <li class="usa-nav__secondary-item">
            <a href="{{ nav_item.url | prepend: site.baseurl }}">
              {{ nav_item.name | escape }}
            </a>
          </li>
          {% endfor %}
        </ul>
        {% include fcsm/searchgov/form.html searchgov=site.searchgov %}
      </div>
    </div>
  </nav>
</header>